<section>
  <nav>
    <div class="join-net-img-container">
      <img class="join-net-img" src="../../assets/img/Joinnet.png" alt="">
    </div>
    <div class="nabvar-items-container text-right">
      <div>
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/briefcase">Portafolio</a></li>
          <li><a routerLink="/contact">Contacto</a></li>
          <li><a href="http://www.facebook.com" target="_blank"><img class="social-icons" src="../../assets/img/facebook.svg" alt=""></a></li>
          <li><a href="http://www.twitter.com" target="_blank"><img class="social-icons" src="../../assets/img/twitter.svg" alt=""></a></li>
        </ul>
      </div>
    </div>
  </nav>
</section>