<section>
  <div class="background-contact-area">
    <img class="background-contact-img" src="../../assets/img/fondoHomeSlider.jpg" alt="">
  </div>
  <div class="box-form-container">
    <div class="header text-center">
      <h2 class="header-title">Contactanos</h2>
    </div>
    <div class="form-container">
      <form action="">
        <div class="">
          <label for="">Nombre:</label>
          <input type="text">
        </div>
        <div class="">
          <label for="">Teléfono:</label>
          <input type="text">
        </div>
        <div class="">
          <label for="">Correo:</label>
          <input type="text">
        </div>
        <div class="">
          <label for="">Mensaje:</label>
          <textarea name="" id="" cols="30" rows="5"></textarea>
        </div>
        <div class="text-center">
          <button>Enviar</button>
        </div>
      </form>
    </div>
  </div>
</section>