<section>
  <div class="title-header-area">
    <h1>Portafolio</h1>
  </div>
  <div class="body-briefcase-container inline-photo show-on-scroll">
    <div class="card-container-row text-center">
      <div class="card-item">
        <a routerLink="/briefcase/networking">
          <div>
            <img class="icon-card-item" src="../../assets/img/Joinet/network.png" alt="">
          </div>
          <div class="card-title-detail">
            <h3 class="text-icon-card-item">Networking</h3>
          </div>
        </a>
      </div>
      <div class="card-item">
        <a routerLink="/briefcase/collaboration">
          <div>
            <img class="icon-card-item" src="../../assets/img/Joinet/Collab.png" alt="">
          </div>
          <div class="card-title-detail">
            <h3 class="text-icon-card-item">Collaboration</h3>
          </div>
        </a>
      </div>
      <div class="card-item">
        <a routerLink="/briefcase/data_center">
          <div>
            <img class="icon-card-item" src="../../assets/img/Joinet/dataCenter.png" alt="">
          </div>
          <div class="card-title-detail">
            <h3 class="text-icon-card-item">Data Center</h3>
          </div>
        </a>
      </div>
      <div class="card-item">
        <a routerLink="/briefcase/wirless">
          <div>
            <img class="icon-card-item" src="../../assets/img/Joinet/wirless.png" alt="">
          </div>
          <div class="card-title-detail">
            <h3 class="text-icon-card-item">Wireless</h3>
          </div>
        </a>
      </div>
      <div class="card-item">
        <a routerLink="/briefcase/admin_service">
          <div>
            <img class="icon-card-item-service" src="../../assets/img/Joinet/admin.png" alt="">
          </div>
          <div class="card-title-detail">
            <h3 class="text-icon-card-item-service">Servicios de Administración, Monitoreo y Soporte de redes</h3>
          </div>
        </a>
      </div>
      <div class="card-item">
        <a routerLink="/briefcase/security">
          <div>
            <img class="icon-card-item" src="../../assets/img/Joinet/security.png" alt="">
          </div>
          <div class="card-title-detail">
            <h3 class="text-icon-card-item">Security</h3>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>